<div class="attribute-position">
    <div class="attribute-point-container" data-creation-key="attributePoints">
        <div class="attribute-fake-shadow"></div>
        <div class="attribute-points">
            <div class="attribute-point-text">
                {{localize "sr3d.item.skill.attributePoints"}}
            </div>
            <div class="attribute-point-value attributePoints" >
                {{creation.attributePoints}}
            </div>
        </div>
    </div>
    <div class="attribute-point-container" data-creation-key="activePoints">
        <div class="attribute-fake-shadow"></div>
        <div class="attribute-points">
            <div class="attribute-point-text">
                {{localize "sr3d.item.skill.activePoints"}}
            </div>
            <div class="attribute-point-value activePoints">
                {{creation.activePoints}}
            </div>
        </div>
    </div>
    <div class="attribute-point-container" data-creation-key="knowledgePoints">
        <div class="attribute-fake-shadow"></div>
        <div class="attribute-points">
            <div class="attribute-point-text">
                {{localize "sr3d.item.skill.knowledgePoints"}}
            </div>
            <div class="attribute-point-value knowledgePoints">
                {{creation.knowledgePoints}}
            </div>
        </div>
    </div>
    <div class="attribute-point-container" data-creation-key="languagePoints">
        <div class="attribute-fake-shadow"></div>
        <div class="attribute-points">
            <div class="attribute-point-text">
                {{localize "sr3d.item.skill.languagePoints"}}
            </div>
            <div class="attribute-point-value languagePoints">
                {{creation.languagePoints}}
            </div>
        </div>
    </div>
</div>