<!-- The active skill card in the skills section of the character sheet -->

{{#each this}}
<div class="active-skill-category">
  <div>
    <h3>{{@key}}</h3> <!-- Category name (e.g., Body, Quickness) -->
  </div>

  {{#each this}}
  <div class="skill-card" data-id="{{this._id}}">

    {{#if (isShoppingStateActive actor)}}
    <div class="edit-icon">
      <h4>
        <a class="edit-skill" data-id="{{this._id}}">
          <i class="fas fa-pen-to-square pulsing-green-cart"></i>
        </a>
      </h4>
    </div>
    {{else}}
    <div class="checkmark">
      <a class="select-skill">
        <i class="fa-solid fa-circle-check"></i>
      </a>
    </div>
    {{/if}}
    <div class="core-skill">
        <div class="skill-name">
          <h3>
            {{this.name}}
          </h3>
        </div>
        <div class="skill-value h1-value">
          <h1>
            {{this.system.activeSkill.value}}
          </h1>
        </div>
    </div>

    <!-- Display Specializations -->
    {{#if this.system.activeSkill.specializations}}
    <div class="specialisation-container">
      <h4>{{localize "sr3d.item.skill.specializations"}}</h4>
      <div class="specializations">
        {{#each this.system.activeSkill.specializations}}
        <div class="skill-specialization-card">
          <div class="specialization-name">
            {{this.name}}
          </div>
          <div class="specialization-value">
            <h1 class="no-margin">
              {{#if this.value}}
              {{this.value}}
              {{else}}
              0
              {{/if}}
            </h1>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>
  {{/each}}
</div>
{{/each}}