<!-- systems/sr3d/templates/components/plackets/buyableAttribute.hbs -->

<div class="stat-card" data-attribute="{{name}}">
    <div>
        <h4>{{localize (concat "sr3d.actor.attributes." name)}}</h4>
    </div>
    <div class="stat-label">
        {{#if (isShoppingStateActive actor)}}
            <a class="decrement-attribute" data-attribute="{{name}}"
               {{#if (eq data.total 0)}} disabled{{/if}}>
                <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
        {{/if}}
        <div class="stat-value">
            <h1>
                {{data.total}} / {{data.mod}}
            </h1>
        </div>
        {{#if (isShoppingStateActive actor)}}
            <a class="increment-attribute" data-attribute="{{name}}">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </a>
        {{/if}}
    </div>
</div>

