<!-- The language skill card in the skills section of the character sheet -->
{{#each this}}
<div class="language-card-container">
  <!-- Main Skill Name -->
  <div class="core-skill">
    <div class="language-skill-name">
      <h3>{{name}}</h3>
    </div>
    <div class="icons">
      <a class="edit-skill pulsing-green-cart" data-id="{{id}}"><i class="fas fa-pen-to-square"></i></a>
    </div>
  </div>

  <!-- Subskills -->
  {{#each skills}}
  <div class="specialisation-container">
    <div class="core-skill">
      <div class="language-card">
        <div class="skill-name">
          <h3>{{type}}</h3>
        </div>
        <div class="skill-value">
          <h1>
            {{base}}
          </h1>
        </div>
      </div>
    </div>
    {{#if specializations}}
    <div class="specializations">
      {{#each specializations}}
      <div class="skill-specialization-card active-specialization-card-color-override">
        <div class="specialization-name">
          {{name}}
        </div>
        <div class="specialization-value">
          <h1>
            {{value}}
          </h1>
        </div>
      </div>
      {{/each}}
    </div>
    {{/if}}
  </div>
  {{/each}}
</div>
{{/each}}