<!-- Metahuman Selection -->
<div class="form-group">
  <label for="metahuman-select">Select Metahuman:</label>
  <select class="priority-select" name="metahuman" id="metahuman-select">
    {{#each metahumans}}
    <option value="{{priority}}" {{#if default}}selected{{/if}}>
      {{name}} (Priority: {{priority}})
    </option>
    {{/each}}
  </select>
</div>

<!-- Magic Tradition Selection -->
<div class="form-group">
  <label for="magicTradition-select">Select Magic Tradition:</label>
  <select class="priority-select" name="system.magicTradition.priority" id="magicTradition-select">
    {{#each magicTraditions}}
    <option value="{{priority}}" {{#if default}}selected{{/if}}>
      {{name}} (Priority: {{priority}})
    </option>
    {{/each}}
  </select>
</div>

<!-- Priority Tables -->
<div class="priority-selection">
  <label for="attribute-priority">Attribute Priority:</label>
  <select class="priority-select" id="attribute-priority" name="attributePriority">
    {{#each attributePriorities}}
    <option value="{{@key}}">{{@key}} ({{this}} Points)</option>
    {{/each}}
  </select>
</div>

<div class="priority-selection">
  <label for="skills-priority">Skills Priority:</label>
  <select class="priority-select" id="skills-priority" name="skillsPriority">
    {{#each skillsPriorities}}
    <option value="{{@key}}">{{@key}} ({{this}} Points)</option>
    {{/each}}
  </select>
</div>

<div class="priority-selection">
  <label for="resources-priority">Resources Priority:</label>
  <select class="priority-select" id="resources-priority" name="resourcesPriority">
    {{#each resourcesPriorities}}
    <option value="{{@key}}">{{@key}} ({{currency this}})</option>
    {{/each}}
  </select>
</div>
<fieldset>
  <legend>Info</legend>
  <div class="expanation">
    {{localize "sr3d.characterCreation.instruction"}}
  </div>
</fieldset>
<div class="priority-utilities">
  <div class="priority-random">
    <a class="priority-randomizer" title="{{localize 'Randomize'}}">
      <i class="fas fa-shuffle"></i> Randomize
    </a>
  </div>
  <div class="priority-reset">
    <a class="priority-reset" title="{{localize 'Reset'}}">
      <i class="fas fa-rotate-left"></i> Reset
    </a>
  </div>
</div>