<form class="{{cssClass}}" autocomplete="off">

    <div class="ammunition-sheet">
        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">

                    <!-- Item Common Header Start -->
                    <div class="simple-item-header">
                        <div class="item-image">
                            <img class="small" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
                        </div>
                        <div class="skill-value">

                            {{#if system.rounds}}
                            {{system.rounds}}
                            {{else}}
                            0
                            {{/if}}
                        </div>

                        <div class="edit-panel">
                            <div class="skill-title">
                                <h1 class="h1">{{localize "sr3d.item.ammunition.ammunition"}}</h1>
                            </div>

                            {{#if isOwned}}
                            <div class="skill-icons">

                                <a class="delete-owned-instance danger-zone" title="{{localize "
                                    sr3d.sheet.deleteSkill"}}">
                                    <i class="fas fa-trash-alt"></i>
                                </a>

                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <h1>

                        <input type="text" class="item-name" name="name" placeholder="{{localize 'Name'}}"
                            value="{{item.name}}" />
                    </h1>

                    <!-- Item Common Header End -->
                    <!-- Weapon Compatability -->
                    <div class="choice-component">
                        <div class="list-box">
                            <h3>Available Weapons</h3>
                            <select id="available-weapons" size="5" multiple>
                                {{#each availableWeapons}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="links">
                            <a id="to-compatible">
                                <h1 class="no-margin"><i class="fas fa-arrow-right"></i></h1>
                            </a>
                            <a id="to-available">
                                <h1 class="no-margin"><i class="fas fa-arrow-left"></i></h1>
                            </a>
                        </div>
                        <div class="list-box">
                            <h3>Compatible Weapons</h3>
                            <select id="compatible-weapons" size="5" multiple>
                                {{#each compatibleWeapons}}
                                <option value="{{this.id}}">{{this.name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>

                    <div class="stat-grid">
                        <!-- Rounds -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.rounds"}}</h4>
                            </div>
                            <div class="stat-label">
                                <div class="stat-value rounds-editable" contenteditable="true">
                                    <h1 class="no-margin">{{system.rounds}}</h1>
                                </div>
                                <input type="hidden" name="system.rounds" value="{{system.rounds}}">
                            </div>
                        </div>

                        <!-- Cost -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.cost"}} x 1</h4>
                            </div>
                            <div class="stat-label">
                                <span>
                                    <h1 class="no-margin">¥</h1>
                                </span>
                                <div class="stat-value cost-editable" contenteditable="true">
                                    <h1 class="no-margin">{{system.cost}}</h1>
                                </div>
                                <input type="hidden" name="system.cost" value="{{system.cost}}">
                            </div>
                        </div>

                        <!-- Total Cost (Derived Value) -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.cost"}}</h4>
                            </div>
                            <div class="stat-label">
                                <span>
                                    <h1 class="no-margin">¥</h1>
                                </span>
                                <div class="stat-value total-cost">
                                    <h1 class="no-margin">{{multiply system.cost system.rounds}}</h1>
                                </div>
                            </div>
                        </div>

                        <!-- Availability (Days and Hours) -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.days"}} : {{localize
                                    "sr3d.item.common.hours"}}
                                </h4>
                            </div>
                            <div class="stat-label">
                                <div class="stat-value" contenteditable="true"
                                    oninput="this.nextElementSibling.value = this.textContent.trim()">
                                    <h1 class="no-margin">{{system.availability.days}}</h1>
                                </div>
                                <input type="hidden" name="system.availability.days"
                                    value="{{system.availability.days}}">
                                <span>
                                    <h1 class="no-margin">:</h1>
                                </span>
                                <div class="stat-value" contenteditable="true"
                                    oninput="this.nextElementSibling.value = this.textContent.trim()">
                                    <h1 class="no-margin">{{system.availability.hours}}</h1>
                                </div>
                                <input type="hidden" name="system.availability.hours"
                                    value="{{system.availability.hours}}">
                            </div>
                        </div>

                        <!-- Conceal -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.conceal"}}</h4>
                            </div>
                            <div class="stat-label">
                                <div class="stat-value" contenteditable="true"
                                    oninput="this.nextElementSibling.value = this.textContent.trim()">
                                    <h1 class="no-margin">{{system.conceal}}</h1>
                                </div>
                                <input type="hidden" name="system.conceal" value="{{system.conceal}}">
                            </div>
                        </div>

                        <!-- Weight -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.weight"}}</h4>
                            </div>
                            <div class="stat-label">
                                <div class="stat-value" contenteditable="true"
                                    oninput="this.nextElementSibling.value = this.textContent.trim()">
                                    <h1 class="no-margin">{{system.weight}}</h1>
                                </div>
                                <input type="hidden" name="system.weight" value="{{system.weight}}">
                            </div>
                        </div>

                        <!-- Street Index -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.streetIndex"}}</h4>
                            </div>
                            <div class="stat-label">
                                <div class="stat-value" contenteditable="true"
                                    oninput="this.nextElementSibling.value = this.textContent.trim()">
                                    <h1 class="no-margin">{{system.streetIndex}}</h1>
                                </div>
                                <input type="hidden" name="system.streetIndex" value="{{system.streetIndex}}">
                            </div>
                        </div>

                        <!-- Restriction Level -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.restrictionLevel"}}</h4>
                            </div>
                            <div class="stat-label">
                                <div class="stat-value" contenteditable="true"
                                    oninput="this.nextElementSibling.value = this.textContent.trim()">
                                    <h1 class="no-margin">{{system.legality.restrictionLevel}}</h1>
                                </div>
                                <input type="hidden" name="system.legality.restrictionLevel"
                                    value="{{system.legality.restrictionLevel}}">
                            </div>
                        </div>

                        <!-- Legality -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.legality"}}</h4>
                            </div>

                            <select name="system.legality.type" data-dtype="String">
                                {{#each config.legality as |label key|}}
                                <option value="{{key}}" {{#if (eq ../system.legality.type key)}}selected{{/if}}>
                                    {{localize label}}
                                </option>
                                {{/each}}
                            </select>

                        </div>
                        <!-- Category -->
                        <div class="stat-card">
                            <div>
                                <h4 class="no-margin">{{localize "sr3d.item.common.category"}}</h4>
                            </div>

                            <select name="system.legality.category" data-dtype="String">
                                {{#each config.category as |label key|}}
                                <option value="{{key}}" {{#if (eq ../system.legality.category key)}}selected{{/if}}>
                                    {{label}}
                                </option>
                                {{/each}}
                            </select>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h3 class="no-margin">{{localize "sr3d.sheet.notes"}}</h3>
                    <div class="editor-field">
                        {{editor '' content=system.ammunition.description owner=owner button=true
                        editable=editable}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>