<form class="{{cssClass}} sr3d sheet character" autocomplete="off">

    <div class="sheet-masonry-grid">
        <div class="layout-gutter-sizer"></div>
        <div class="layout-grid-sizer"></div>

        <div class="sheet-component">
            <div class="inner-background-container">
                <!-- Fake shadow (behind inner background) -->
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.sheet.dossier"}}</h1>
                    {{> "systems/sr3d/templates/components/dossier.hbs"}}
                </div>
            </div>
        </div>
        <!-- Attributes Section -->
        <div class="sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.attributes.attributes"}}</h1>
                    {{> "systems/sr3d/templates/components/plackets/attributes.hbs"}}
                </div>
            </div>
        </div>
        <!-- Dice Pools Section -->
        <div class="sheet-component">

            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.dicepools.dicepools"}}</h1>
                    {{> "systems/sr3d/templates/components/dice-pools.hbs"}}
                </div>

            </div>
        </div>

        <!-- Movement Section -->
        <div class="sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.movement.movement"}}</h1>
                    {{> "systems/sr3d/templates/components/movement.hbs"}}
                </div>
            </div>
        </div>

        <!-- Health Section -->
        <div class="sheet-component two-span-selectable">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1 class="header-icon">{{localize "sr3d.actor.health.health"}}
                        <span class="karma-heart">
                            <i class="fa-solid fa-staff-snake"></i>
                        </span>
                    </h1>
                    {{> "systems/sr3d/templates/components/health.hbs"}}
                </div>
            </div>
        </div>

        <!-- Skill Section -->
        <div class="sheet-component two-span-selectable">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    {{#if (isShoppingStateActive this.actor)}}
                    <a class="item-create" data-type="skill" data-skill-type="skill" title="{{localize "
                        sr3d.sheet.addSkill"}}">
                        <h2><i class="fas fa-square-plus pulsing-green-cart"></i></h2>
                    </a>
                    {{/if}}
                    <h1>{{localize "sr3d.item.skill.skills"}}</h1>
                    {{> "systems/sr3d/templates/components/skills.hbs"}}
                </div>
            </div>
        </div>

        <!-- Ratsrace Section -->
        <div class="sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize @root.config.character.ratsrace}}</h1>
                    {{> "systems/sr3d/templates/components/ratsrace.hbs"}}
                </div>
            </div>
        </div>

        <!-- Tabs Navigation and Content Sections -->
        <div class="sheet-component two-span-selectable">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.possessions.possessions"}}</h1>
                    {{> "systems/sr3d/templates/components/possessions.hbs"}}
                </div>
            </div>
        </div>

        <!-- Karma Section -->
        <div class="sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>

                <div class="inner-background">
                    <h1 class="header-icon">
                        {{localize "sr3d.actor.karma.karma"}}
                        <span class="karma-heart header-icon">
                            <i class="fa-solid fa-heart-circle-bolt"></i>
                        </span>
                    </h1>
                    {{> "systems/sr3d/templates/components/karma.hbs"}}
                </div>
            </div>
        </div>
    </div>
</form>