<form class="{{cssClass}}" data-form="sheet" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <div class="form-group">
            <label for="priority-select">Select Priority</label>

            <h1>
                <input 
                    name="name" 
                    type="text" 
                    value="{{item.name}}" 
                    placeholder="{{localize "sr3d.item.metahuman.name"}}" 
                />
            </h1>
            <select name="system.priority" id="priority-select" class="priority-select">
                <option value="C" {{#if (eq system.priority "C")}}selected{{/if}}>C</option>
                <option value="D" {{#if (eq system.priority "D")}}selected{{/if}}>D</option>
            </select>
        </div>
    </header>

    <div class="sheet-content">
        <!-- Lifespan Section -->
        <fieldset>
            <legend>{{localize "sr3d.item.metahuman.lifespan"}}</legend>
            <div>
                <label>{{localize "sr3d.item.metahuman.average"}}:</label>
                <input name="system.lifespan.average" type="number" value="{{system.lifespan.average}}" />
            </div>
            <div>
                <label>{{localize "sr3d.item.metahuman.max"}}:</label>
                <input name="system.lifespan.max" type="number" value="{{system.lifespan.max}}" />
            </div>
        </fieldset>

        <!-- Physical Attributes Section -->
        <fieldset>
            <legend>{{localize "sr3d.item.metahuman.physical"}}</legend>
            <div>
                <label>{{localize "sr3d.item.metahuman.height"}} (Min):</label>
                <input name="system.physical.height.min" type="number" value="{{system.physical.height.min}}" />
            </div>
            <div>
                <label>{{localize "sr3d.item.metahuman.height"}} (Max):</label>
                <input name="system.physical.height.max" type="number" value="{{system.physical.height.max}}" />
            </div>
            <div>
                <label>{{localize "sr3d.item.metahuman.weight"}} (Min):</label>
                <input name="system.physical.weight.min" type="number" value="{{system.physical.weight.min}}" />
            </div>
            <div>
                <label>{{localize "sr3d.item.metahuman.weight"}} (Max):</label>
                <input name="system.physical.weight.max" type="number" value="{{system.physical.weight.max}}" />
            </div>
        </fieldset>

        <!-- Modifiers Section -->
        <fieldset>
            <legend>{{localize "sr3d.item.metahuman.modifiers"}}</legend>
            <table>
                <tr>
                    <th>{{localize "sr3d.actor.attributes.strength"}}</th>
                    <th>{{localize "sr3d.actor.attributes.quickness"}}</th>
                    <th>{{localize "sr3d.actor.attributes.body"}}</th>
                    <th>{{localize "sr3d.actor.attributes.charisma"}}</th>
                    <th>{{localize "sr3d.actor.attributes.intelligence"}}</th>
                    <th>{{localize "sr3d.actor.attributes.willpower"}}</th>
                </tr>
                <tr>
                    <td><input name="system.modifiers.strength" type="number" value="{{system.modifiers.strength}}" />
                    </td>
                    <td><input name="system.modifiers.quickness" type="number" value="{{system.modifiers.quickness}}" />
                    </td>
                    <td><input name="system.modifiers.body" type="number" value="{{system.modifiers.body}}" /></td>
                    <td><input name="system.modifiers.charisma" type="number" value="{{system.modifiers.charisma}}" />
                    </td>
                    <td><input name="system.modifiers.intelligence" type="number"
                            value="{{system.modifiers.intelligence}}" /></td>
                    <td><input name="system.modifiers.willpower" type="number" value="{{system.modifiers.willpower}}" />
                    </td>
                </tr>
            </table>
        </fieldset>

        <!-- Attribute Limits Section -->
        <fieldset>
            <legend>{{localize "sr3d.item.metahuman.attributeLimits"}}</legend>
            <table>
                <tr>
                    <th>{{localize "sr3d.actor.attributes.strength"}}</th>
                    <th>{{localize "sr3d.actor.attributes.quickness"}}</th>
                    <th>{{localize "sr3d.actor.attributes.body"}}</th>
                    <th>{{localize "sr3d.actor.attributes.charisma"}}</th>
                    <th>{{localize "sr3d.actor.attributes.intelligence"}}</th>
                    <th>{{localize "sr3d.actor.attributes.willpower"}}</th>
                </tr>
                <tr>
                    <td><input name="system.attribute.strength" type="number"
                            value="{{system.attributeLimits.strength}}" /></td>
                    <td><input name="system.attribute.quickness" type="number"
                            value="{{system.attributeLimits.quickness}}" /></td>
                    <td><input name="system.attribute.body" type="number" value="{{system.attributeLimits.body}}" />
                    </td>
                    <td><input name="system.attribute.charisma" type="number"
                            value="{{system.attributeLimits.charisma}}" /></td>
                    <td><input name="system.attribute.intelligence" type="number"
                            value="{{system.attributeLimits.intelligence}}" /></td>
                    <td><input name="system.attribute.willpower" type="number"
                            value="{{system.attributeLimits.willpower}}" /></td>
                </tr>
            </table>
        </fieldset>

        <!-- Vision Section -->
        <fieldset>
            <legend>{{localize "sr3d.item.metahuman.vision"}}</legend>
            <div>
                <label>{{localize "sr3d.item.metahuman.visionType"}}:</label>
                <select name="system.vision.visionType">
                    <option value="normal" {{#if (eq system.vision.visionType "normal" )}}selected{{/if}}>{{localize
                        "sr3d.item.metahuman.normal"}}</option>
                    <option value="lowlight" {{#if (eq system.vision.visionType "lowlight" )}}selected{{/if}}>{{localize
                        "sr3d.item.metahuman.lowlight"}}</option>
                    <option value="thermographic" {{#if (eq system.vision.visionType "thermographic" )}}selected{{/if}}>
                        {{localize "sr3d.item.metahuman.thermographic"}}</option>
                </select>
            </div>
            <div>
            </div>
        </fieldset>
        <fieldset>
            <legend>{{localize "sr3d.item.metahuman.description"}}:</legend>
            {{editor system.description owner=owner button=true editable=editable}}
        </fieldset>
    </div>
</form>