<form class="{{cssClass}}" autocomplete="off">

    <div class="meta-human-grid">
        <!-- Main Info Div -->
        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">

                    <div class="image-mask">
                        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
                    </div>
                    <h1>
                        <input name="name" type="text" value="{{item.name}}"
                            placeholder="{{localize 'sr3d.item.metahuman.name'}}" />
                    </h1>


                    <h4 class="card-header" for="priority-select">Select Priority</h4>

                    <select name="system.priority" id="priority-select" class="priority-select">
                        <option value="C" {{#if (eq system.priority "C" )}}selected{{/if}}>C</option>
                        <option value="D" {{#if (eq system.priority "D" )}}selected{{/if}}>D</option>
                        <option value="E" {{#if (eq system.priority "E" )}}selected{{/if}}>E</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- Lifespan Div -->
        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h3>{{localize "sr3d.item.metahuman.lifespan"}}</h3>
                    <div class="stat-grid">
                        {{#each lifespan as |entry|}}
                        <div class="info-field">
                            <h4 class="card-header label">
                                {{entry.label}}
                            </h4>
                            <!-- Hidden input to store the value for form submission -->
                            <input type="number" value="{{entry.value}}" style="display: none;" />

                            <!-- Editable div for user interaction -->
                            <div class="editable-div" contenteditable="true">
                                <h1>
                                    {{entry.value}}
                                </h1>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Physical Attributes Div -->
        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h3>{{localize "sr3d.item.metahuman.physical"}}</h3>
                    <div class="stat-grid">
                        {{#each physicalStats as |entry|}}
                        <div class="info-field">
                            <h4 class="card-header label">
                                {{entry.label}}
                            </h4>
                            <!-- Hidden input -->
                            <input type="number" value="{{entry.value}}" style="display: none;" />

                            <!-- Editable div -->
                            <div class="editable-div" contenteditable="true">
                                <h1>
                                    {{entry.value}}
                                </h1>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="stat-grid">
            <!-- Modifiers Div -->
            <div class="item-sheet-component">
                <div class="inner-background-container">
                    <div class="fake-shadow"></div>
                    <div class="inner-background">
                        <h3>{{localize "sr3d.item.metahuman.modifiers"}}</h3>
                        <div class="grid-container">
                            <div class="stat-grid">
                                {{#each attributeModifiers as |entry|}}
                                <div class="info-field">
                                    <h4 class="card-header">
                                        {{entry.label}}
                                    </h4>
                                    <!-- Hidden input -->
                                    <input type="number" value="{{entry.value}}" style="display: none;" />

                                    <!-- Editable div -->
                                    <div class="editable-div" contenteditable="true">
                                        <h1>
                                            {{entry.value}}
                                        </h1>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Attribute Limits Div -->
        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h3>{{localize "sr3d.item.metahuman.attributeLimits"}}</h3>
                    <div class="stat-grid">
                        {{#each attributeLimits as |entry|}}
                        <div class="info-field">
                            <h4 class="card-header">
                                {{entry.label}}
                            </h4>
                            <!-- Hidden input -->
                            <input type="number" value="{{entry.value}}" style="display: none;" />

                            <!-- Editable div -->
                  
                                <div class="editable-div" contenteditable="true">
                                    <h1>
                                        {{entry.value}}
                                    </h1>
                                </div>
                  
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>

        <!-- Vision Div -->
        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h3>{{localize "sr3d.item.metahuman.vision"}}</h3>
                    <div class="info-field">
                        <h4 class="label">{{localize "sr3d.item.metahuman.visionType"}}:</h4>
                        <select name="system.vision.visionType" class="vision-select">
                            <option value="normal" {{#if (eq system.vision.visionType "normal" )}}selected{{/if}}>
                                {{localize "sr3d.item.metahuman.normal"}}
                            </option>
                            <option value="lowlight" {{#if (eq system.vision.visionType "lowlight" )}}selected{{/if}}>
                                {{localize "sr3d.item.metahuman.lowlight"}}
                            </option>
                            <option value="thermographic" {{#if (eq system.vision.visionType "thermographic"
                                )}}selected{{/if}}>
                                {{localize "sr3d.item.metahuman.thermographic"}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h3>{{localize "sr3d.sheet.notes"}}</h3>
                    <div class="editor-field">
                        {{editor '' content=system.metahuman.description owner=owner
                        button=true editable=editable}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>