<form class="{{cssClass}} sr3d sheet character" autocomplete="off">

    <div class="sheet-masonry-grid">
        <div class="layout-gutter-sizer"></div>
        <div class="layout-grid-sizer"></div>

        <div class="sheet-component">
            <div class="inner-background-container">
                <!-- Fake shadow (behind inner background) -->
                <div class="fake-shadow"></div>
                <!-- Inner content -->
                <div class="inner-background">
                    <h1>{{localize "sr3d.sheet.dossier"}}</h1>
                    {{> "systems/sr3d/templates/components/dossier.hbs"}}
                </div>
            </div>
        </div>

        <!-- Attributes Section -->
        <div class="sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.attributes.attributes"}}</h1>
                    {{> "systems/sr3d/templates/components/plackets/attributes.hbs"}}
                </div>
            </div>
        </div>

        <!-- Dice Pools Section -->
        <div class="sheet-component">

            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.dicepools.dicepools"}}</h1>
                    {{> "systems/sr3d/templates/components/dice-pools.hbs"}}
                </div>

            </div>
        </div>

        <!-- Movement Section -->
        <div class="sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.movement.movement"}}</h1>
                    {{> "systems/sr3d/templates/components/movement.hbs"}}
                </div>
            </div>
        </div>

        <!-- Health Section -->
        <div class="sheet-component two-span-selectable">
            <div class="karma-heart">
                <h1>
                    <i class="fa-solid fa-heart"></i>
                </h1>
            </div>
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.health.damageTracker"}}</h1>
                    <p>Health Goes here</p>
                </div>
            </div>
        </div>

        <!-- Skill Section -->
        <div class="sheet-component two-span-selectable">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    {{#if (isShoppingStateActive this.actor)}}
                    <a class="item-create" data-type="skill" data-skill-type="skill" title="{{localize "
                        sr3d.sheet.addSkill"}}">
                        <h2><i class="fas fa-square-plus pulsing-green-cart"></i></h2>
                    </a>
                    {{/if}}
                    <h1>{{localize "sr3d.item.skill.skills"}}</h1>
                    {{> "systems/sr3d/templates/components/skills.hbs"}}
                </div>
            </div>
        </div>

        <!-- Budget Section -->
        <div class="sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.budget.budget"}}</h1>
                    <p>Income: {{system.budget.income}}</p>
                    <p>Expenses: {{system.budget.expenses}}</p>
                    <p>Debts: {{system.budget.debts}}</p>
                </div>
            </div>
        </div>



        <!-- Tabs Navigation and Content Sections -->
        <div class="sheet-component two-span-selectable">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>{{localize "sr3d.actor.possessions.possessions"}}</h1>
                    <div class="sheet-tabs">
                        <nav class="tabs">
                            <a class="item" data-tab="loadout">
                                <h2>{{localize "sr3d.actor.possessions.loadout"}}</h2>
                            </a>
                            <a class="item" data-tab="inventory">
                                <h2>{{localize "sr3d.actor.possessions.inventory"}}</h2>
                            </a>
                            <a class="item" data-tab="arsenal">
                                <h2>{{localize "sr3d.actor.possessions.arsenal"}}</h2>
                            </a>
                            <a class="item" data-tab="arcane">
                                <h2>{{localize "sr3d.actor.possessions.arcane"}}</h2>
                            </a>
                            <a class="item" data-tab="garage">
                                <h2>{{localize "sr3d.actor.possessions.garage"}}</h2>
                            </a>
                        </nav>
                    </div>
                    <div class="tab-content">
                        <section class="tab" data-tab="inventory">
                            {{#if system.inventory.weapons.length}}
                            <ul class="inventory-list">
                                {{#each system.inventory.weapons as |weapon|}}
                                {{> "systems/sr3d/templates/components/inventory.hbs" weapon=weapon}}
                                {{/each}}
                            </ul>
                            {{else}}
                            <p>No weapons available.</p>
                            {{/if}}
                        </section>
                        <section class="tab" data-tab="loadout">
                            <h2>Loadout</h2>
                            <p>Carried items go here...</p>
                        </section>
                        <section class="tab" data-tab="inventory">
                            <h2>Inventory</h2>
                            <p>Inventory content goes here...</p>
                        </section>
                        <section class="tab" data-tab="inventory">
                            <h2>Arsenal</h2>
                            <p>Weapons content goes here...</p>
                        </section>
                        <section class="tab" data-tab="arcane">
                            <h2>Arcane</h2>
                            <p>Magic content goes here...</p>
                        </section>
                        <section class="tab" data-tab="garage">
                            <h2>Garage</h2>
                            <p>Vehicles content goes here...</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <!-- Karma Section -->
        <div class="sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <h1>
                        {{localize "sr3d.actor.karma.karma"}}
                    </h1>
                    {{> "systems/sr3d/templates/components/karma.hbs"}}
                </div>
            </div>
        </div>
    </div>
</form>