<form class="{{cssClass}}" autocomplete="off">
    <!-- Header Section -->
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
        <h1>
            <input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}" />
        </h1>
    </header>

    <!-- Content Section -->
    <div class="sheet-content">
        <!-- Skill Selection -->
        <fieldset>
            <legend>{{localize "sr3d.item.skill.type"}}</legend>
            <label>
                <input type="radio" name="system.skillType" value="skill" {{#if (eq system.skillType 'skill')}}checked{{/if}}>
                {{localize "sr3d.item.skill.active"}}
            </label>
            <label>
                <input type="radio" name="system.skillType" value="knowledgeSkill" {{#if (eq system.skillType 'knowledgeSkill')}}checked{{/if}}>
                {{localize "sr3d.item.skill.knowledge"}}
            </label>
            <label>
                <input type="radio" name="system.skillType" value="languageSkill" {{#if (eq system.skillType 'languageSkill')}}checked{{/if}}>
                {{localize "sr3d.item.skill.language"}}
            </label>
        </fieldset>

        <!-- Active Skill Section -->
        {{#if (eq system.skillType 'skill')}}
        <table>
            <tr>
                <th>{{localize "sr3d.item.skill.name"}}</th>
                <th>{{localize "sr3d.item.skill.value"}}</th>
                <th>{{localize "sr3d.item.skill.linkedAttribute"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.skill.name" type="text" value="{{system.skill.name}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.skill.value" type="number" value="{{system.skill.value}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.skill.linkedAttribute" data-dtype="String">
                        {{#each attributes}}
                        <option value="{{this}}" {{#if (eq this ../system.skill.linkedAttribute)}}selected{{/if}}>
                            {{this}}
                        </option>
                        {{/each}}
                    </select>
                </td>
            </tr>
        </table>
        {{/if}}

        <!-- Knowledge Skill Section -->
        {{#if (eq system.skillType 'knowledgeSkill')}}
        <table>
            <tr>
                <th>{{localize "sr3d.item.skill.name"}}</th>
                <th>{{localize "sr3d.item.skill.value"}}</th>
                <th>{{localize "sr3d.item.skill.linkedAttribute"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.knowledgeSkill.name" type="text" value="{{system.knowledgeSkill.name}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.knowledgeSkill.value" type="number" value="{{system.knowledgeSkill.value}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.knowledgeSkill.linkedAttribute" data-dtype="String">
                        {{#each attributes}}
                        <option value="{{this}}" {{#if (eq this ../system.knowledgeSkill.linkedAttribute)}}selected{{/if}}>
                            {{this}}
                        </option>
                        {{/each}}
                    </select>
                </td>
            </tr>
        </table>
        {{/if}}

        <!-- Language Skill Section -->
        {{#if (eq system.skillType 'languageSkill')}}
        <table>
            <tr>
                <th>{{localize "sr3d.item.skill.language"}}</th>
                <th>{{localize "sr3d.item.skill.speech"}}</th>
                <th>{{localize "sr3d.item.skill.reading"}}</th>
                <th>{{localize "sr3d.item.skill.writing"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.languageSkill.language" type="text" value="{{system.languageSkill.language}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.languageSkill.speech" type="number" value="{{system.languageSkill.speech}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.languageSkill.reading" type="number" value="{{system.languageSkill.reading}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.languageSkill.writing" type="number" value="{{system.languageSkill.writing}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        {{/if}}

        <!-- Specialization Section -->
        <fieldset>
            <legend>{{localize "sr3d.item.skill.specialization"}}</legend>
            {{#each system.specialization}}
            <div class="specialization-row">
                <input name="system.specialization.specialization" type="text" value="{{this.specialization}}" data-dtype="String" placeholder="{{localize 'sr3d.item.skill.specialization'}}" />
                <input name="system.specialization.specializationValue" type="number" value="{{this.specializationValue}}" data-dtype="Number" placeholder="{{localize 'sr3d.item.skill.specializationValue'}}" />
            </div>
            {{/each}}
        </fieldset>

        <!-- Description Editor -->
        {{editor system.description owner=owner button=true editable=editable}}
    </div>
</form>
