<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>

    <div id="body">
        <table>
            <tr>
                <th>{{localize 'sr3d.item.weapon.conceal'}}</th>
                <th>{{localize 'sr3d.item.weapon.ammo'}}</th>
                <th>{{localize "sr3d.item.weapon.mode"}}</th>
                <th>{{localize "sr3d.item.weapon.damage"}}</th>
                <th>{{localize "sr3d.item.weapon.range"}}</th>
                <th>{{localize "sr3d.item.weapon.weight"}}</th>
                <th>{{localize "sr3d.item.weapon.legal"}}</th>
                <th>{{localize "sr3d.item.weapon.recoilComp"}}</th>
            </tr>
            <tr>
                <td><input name="system.conceal" type="text" value="{{system.conceal}}" data-dtype="Number"></td>
                <td><input name="system.ammo" type="text" value="{{system.ammo}}" data-dtype="Number"></td>
                <td><input name="system.mode" type="text" value="{{system.mode}}" data-dtype="String"></td>
                <td><input name="system.damage" type="text" value="{{system.damage}}" data-dtype="Number"></td>
                <td><input name="system.range" type="text" value="{{system.range}}" data-dtype="Number"></td>
                <td><input name="system.weight" type="text" value="{{system.weight}}" data-dtype="Number"></td>
                <td><input name="system.legal" type="text" value="{{system.legal}}" data-dtype="String"></td>
                <td><input name="system.recoilComp" type="text" value="{{system.recoilComp}}" data-dtype="Number"></td>
            </tr>
        </table>
    </div>
</form>
