<form class="{{cssClass}}" autocomplete="off">

    <div class="sheet-content">
        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">

                    <header class="image-mask">
                        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
                        <div contenteditable="true" name="name" id="name-field" placeholder="{{localize 'Name'}}">
                            <h1>
                                {{item.name}}
                            </h1>
                        </div>
                    </header>
                </div>
            </div>
        </div>

        <div class="item-sheet-component">
            <div class="inner-background-container">
                <div class="fake-shadow"></div>
                <div class="inner-background">
                    <div class="stat-grid">
                        <div class="info-field">
                            <h3>{{localize 'sr3d.item.weapon.conceal'}}</h3>
                            <div id="conceal" contenteditable="true" data-dtype="Number">
                                <h1>{{system.conceal}}</h1>
                            </div>
                        </div>
                        <div class="info-field">
                            <h3>{{localize 'sr3d.item.weapon.ammo'}}</h3>
                            <div id="ammo" contenteditable="true" data-dtype="String">
                                <h1>{{system.ammo}}</h1>
                            </div>
                        </div>
                        <div class="info-field">
                            <h3>{{localize "sr3d.item.weapon.mode"}}</h3>
                            <select id="mode" data-dtype="String">
                                <option value="SS" {{#if (eq system.mode 'SS' )}}selected{{/if}}>{{localize
                                    "sr3d.weapon.mode.singleShot"}}</option>
                                <option value="SA" {{#if (eq system.mode 'SA' )}}selected{{/if}}>{{localize
                                    "sr3d.weapon.mode.semiAuto"}}</option>
                                <option value="BF" {{#if (eq system.mode 'BF' )}}selected{{/if}}>{{localize
                                    "sr3d.weapon.mode.burstFire"}}</option>
                                <option value="FA" {{#if (eq system.mode 'FA' )}}selected{{/if}}>{{localize
                                    "sr3d.weapon.mode.fullAuto"}}</option>
                            </select>
                        </div>

                        <div class="info-field">
                            <h3>{{localize "sr3d.item.weapon.damage"}}</h3>
                            <div id="damage" contenteditable="true" data-dtype="String">
                                <h1>{{system.damage}}</h1>
                            </div>
                        </div>
                        <div class="info-field">
                            <h3>{{localize "sr3d.item.weapon.range"}}</h3>
                            <div id="range" contenteditable="true" data-dtype="Number">
                                <h1>{{system.range}}</h1>
                            </div>
                        </div>
                        <div class="info-field">
                            <h3>{{localize "sr3d.item.weapon.weight"}}</h3>
                            <div id="weight" contenteditable="true" data-dtype="Number">
                                <h1>{{system.weight}}</h1>
                            </div>
                        </div>
                        <div class="info-field">
                            <h3>{{localize "sr3d.item.weapon.legal"}}</h3>
                            <div id="legal" contenteditable="true" data-dtype="String">
                                <h1>{{system.legal}}</h1>
                            </div>
                        </div>
                        <div class="info-field">
                            <h3>{{localize "sr3d.item.weapon.recoilComp"}}</h3>
                            <div id="recoilComp" contenteditable="true" data-dtype="Number">
                                <h1>{{system.recoilComp}}</h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="item-sheet-component">
                <div class="inner-background-container">
                    <div class="fake-shadow"></div>
                    <div class="inner-background">
                        <div class="editor-field">
                            {{editor system.description owner=owner button=true editable=editable}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>