<div class="attribute-masonry-grid">

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.body"}}</h3>
        </div>
        <div class="horizontal-section">
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="decrement-attribute" data-attribute="body" class="{{#if (eq system.body.total 0)}}disabled{{/if}}">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
            {{/if}}
            <div class="attribute-value">
                <h1>{{system.body.total}}/{{system.body.mod}}</h1>
            </div>
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="increment-attribute" data-attribute="body">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </a>
            {{/if}}
        </div>
    </div>

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.quickness"}}</h3>
        </div>
        <div class="horizontal-section">
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="decrement-attribute" data-attribute="quickness"
                class="{{#if (eq system.quickness.total 0)}}disabled{{/if}}">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
            {{/if}}
            <div class="attribute-value">
                <h1>{{system.quickness.total}}/{{system.quickness.mod}}</h1>
            </div>
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="increment-attribute" data-attribute="quickness">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </a>
            {{/if}}
        </div>
    </div>

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.strength"}}</h3>
        </div>
        <div class="horizontal-section">
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="decrement-attribute" data-attribute="strength"
                class="{{#if (eq system.strength.total 0)}}disabled{{/if}}">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
            {{/if}}
            <div class="attribute-value">
                <h1>{{system.strength.total}}/{{system.strength.mod}}</h1>
            </div>
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="increment-attribute" data-attribute="strength">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </a>
            {{/if}}
        </div>
    </div>

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.charisma"}}</h3>
        </div>
        <div class="horizontal-section">
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="decrement-attribute" data-attribute="charisma"
                class="{{#if (eq system.charisma.total 0)}}disabled{{/if}}">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
            {{/if}}
            <div class="attribute-value">
                <h1>{{system.charisma.total}}/{{system.charisma.mod}}</h1>
            </div>
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="increment-attribute" data-attribute="charisma">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </a>
            {{/if}}
        </div>
    </div>

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.intelligence"}}</h3>
        </div>
        <div class="horizontal-section">
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="decrement-attribute" data-attribute="intelligence"
                class="{{#if (eq system.intelligence.total 0)}}disabled{{/if}}">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
            {{/if}}
            <div class="attribute-value">
                <h1>{{system.intelligence.total}}/{{system.intelligence.mod}}</h1>
            </div>
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="increment-attribute" data-attribute="intelligence">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </a>
            {{/if}}
        </div>
    </div>

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.willpower"}}</h3>
        </div>
        <div class="horizontal-section">
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="decrement-attribute" data-attribute="willpower"
                class="{{#if (eq system.willpower.total 0)}}disabled{{/if}}">
                <i class="fa-solid fa-circle-chevron-down"></i>
            </a>
            {{/if}}
            <div class="attribute-value">
                <h1>{{system.willpower.total}}/{{system.willpower.mod}}</h1>
            </div>
            {{#if (not actor.flags.sr3d.attributesDone)}}
            <a class="increment-attribute" data-attribute="willpower">
                <i class="fa-solid fa-circle-chevron-up"></i>
            </a>
            {{/if}}
        </div>
    </div>


    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.reaction"}}</h3>
        </div>
        <div class="horizontal-section">
            <div class="attribute-value">
                <h1>{{system.reaction.total}}/{{system.reaction.mod}}</h1>
            </div>
        </div>
    </div>

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.initiative"}}</h3>
        </div>
        <div class="horizontal-section">
            <div class="attribute-value">
                <h1>{{system.initiative.total}}/{{system.initiative.mod}}</h1>
            </div>
        </div>
    </div>

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.magic"}}</h3>
        </div>
        <div class="horizontal-section">
            <div class="attribute-value">
                <h1>{{system.magic.total}}/{{system.magic.mod}}</h1>
            </div>
        </div>
    </div>

    <div class="attribute-card">
        <div class="attribute-name">
            <h3>{{localize "sr3d.actor.attributes.essence"}}</h3>
        </div>
        <div class="horizontal-section">
            <div class="attribute-value">
                <h1>{{system.essence.total}}</h1>
            </div>
        </div>
    </div>
</div>