<section>
    <div class="attribute-card">
        <td>
            <table border="1px">
                <tr>
                    <td>
                        <div class="attribute-name">{{localize "sr3d.actor.dicepools.combat"}}</div>
                        <div class="attribute-value">
                            <p>
                                {{data.attributes.strength.base}}/{{data.attributes.strength.mod}}
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="attribute-name">{{localize "sr3d.actor.dicepools.astral"}}</div>
                        <div class="attribute-value">
                            <p>
                                {{data.attributes.reaction.base}}/{{data.attributes.reaction.mod}}
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="attribute-name">{{localize "sr3d.actor.dicepools.hacking"}}</div>
                        <div class="attribute-value">
                            <p>
                                {{data.attributes.initiative.base}}/{{data.attributes.initiative.mod}}
                            </p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="attribute-name">{{localize "sr3d.actor.dicepools.control"}}</div>
                        <div class="attribute-value">
                            <p>
                                {{data.attributes.willpower.base}}/{{data.attributes.willpower.mod}}
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="attribute-name">{{localize "sr3d.actor.dicepools.spell"}}</div>
                        <div class="attribute-value">
                            <p>
                                {{data.attributes.magic.base}}/{{data.attributes.magic.mod}}
                            </p>
                        </div>
                    </td>
                    <td>
                        <div class="attribute-name"></div>
                        <div class="attribute-value">
                            <p>
                                
                            </p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </div>
</section>