<div class="dossier">

    {{#if (isDossierOpen actor)}}
    <div class="version-one image-mask">
        <img class="" src="{{system.img}}" />
    </div>
    {{else}}
    <div class="version-two image-mask">
        <img class="" src="{{actor.img}}" data-edit="img" title="{{item.name}}" />
    </div>
    {{/if}}

    <details class="component-details">
        <summary>
                {{localize "sr3d.sheet.details"}}
        </summary>

        <div>
            <input type="text" id="actor-name" name="name" value="{{actor.name}}" />
        </div>

        <div>
            <h3>
                {{localize "sr3d.actor.character.metahumanType"}}:
            </h3>
            {{system.metaHumanity}}
        </div>

        <div>
            <h3>
                {{localize "sr3d.actor.character.age"}}: {{system.age}}
            </h3>
        </div>

        <div>
            <h3>
                {{localize "sr3d.actor.character.height"}}: {{system.height}} cm ({{multiply
                system.height 0.0328084}}
                feet)
            </h3>
        </div>

        <div>
            <h3>
                {{localize "sr3d.actor.character.weight"}}: {{system.weight}} kg ({{multiply
                system.weight 0.157473}}
                stones)
            </h3>
        </div>
    </details>

    <!-- Notes / description block -->

    <a class="journal-entry-link">
        <h3>
            {{localize "sr3d.sheet.viewbackground"}}
        </h3>
    </a>

</div>