<section>
    <div class="attribute-card">
        <table border="1">
            <tr>
                <td>
                    <div class="attribute-name">{{localize "sr3d.actor.movement.walking"}}</div>
                    <div class="attribute-value">
                        <p>
                            {{system.reaction.base}} / {{system.reaction.mod}}
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="attribute-name">{{localize "sr3d.actor.movement.running"}}</div>
                    <div class="attribute-value">
                        <p>
                            {{system.magic.base}} / {{system.magic.mod}}
                        </p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>