<!-- THE SKILL SECTION OF THE CHARACTERSHEET-->
<h1>
  {{localize "sr3d.item.skill.skills"}}
</h1>

<!-- Active Skills -->
<h2>{{localize "sr3d.item.skill.activeSkills"}}
  <a class="item-create" data-type="skill" data-skill-type="activeSkill" title="{{localize " sr3d.sheet.addSkill"}}">
    <i class="fas fa-square-plus"></i>
  </a>
</h2>
<div class="active-grid-container">
  <div class="active-skills-masonry-grid">
    <div class="active-grid-sizer"></div>
    <div class="active-gutter-sizer"></div>
       {{> "systems/sr3d/templates/components/plackets/activeSkill.hbs" skills.active}}
    </div>
</div>

<!-- Knowledge Skills -->
<h2>{{localize "sr3d.item.skill.knowledgeSkill"}}
  <a class="item-create" data-type="skill" data-skill-type="knowledgeSkill" title="{{localize " sr3d.sheet.addSkill"}}">
    <i class="fas fa-square-plus"></i>
  </a>
</h2>

<div class="knowledge-grid-container">
  <div class="knowledge-skills-masonry-grid">
    <div class="knowledge-grid-sizer"></div>
    <div class="knowledge-gutter-sizer"></div>
      {{> "systems/sr3d/templates/components/plackets/knowledgeSkill.hbs" skills.knowledge}}
  </div>
</div>

<!-- Language Skills -->
<h2>{{localize "sr3d.item.skill.languageSkills"}}
  <a class="item-create" data-type="skill" data-skill-type="languageSkill" title="{{localize " sr3d.sheet.addSkill"}}">
    <i class="fas fa-square-plus"></i>
  </a>
</h2>
<div class="language-grid-container">
  <div class="language-skills-masonry-grid">
    <div class="language-grid-sizer"></div>
    <div class="language-gutter-sizer"></div>
      {{> "systems/sr3d/templates/components/plackets/languageSkill.hbs" skills.language}}
  </div>
</div>